footer.footer
    a(href='https://5ht.co/license/')
       img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2021&mdash;2022 &copy; <a href="//groupoid.space/" style="color:Lavender;">Groupoïd Infinity</a>
    script(src='https://groupoid.space/highlight.js')
    script(src='https://groupoid.space/bundle.js')
