{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,["deps"]}.
{deps, [
    {lager, ".*", {git, "git@github.com:basho/lager", {tag, "1.2.2"}}},
    {active,          ".*", {git, "git://github.com/proger/active", "HEAD"}},
    {eslang,        ".*", {git, "git://github.com/5HT/eslang",          "HEAD"}}
]}.
